.item-new {
    margin-top: 3rem;
}
.data-new {   
    h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 27px;
        text-align: justify;
    }
    h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 15px;
        text-align: justify;
    }
}