<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="box-img">
                <img src="/assets/banner.png" alt="Random first slide">
            </div>
        </div>
        <div class="carousel-caption banner-content">
            <h3>WELCOME TO PINK</h3>
            <p>A multi purpose theme from cssauthor.com</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="box-img">
                <img src="/assets/banner.png" alt="Random first slide">
            </div>
        </div>
        <div class="carousel-caption banner-content">
            <h3>WELCOME TO PINK</h3>
            <p>A multi purpose theme from cssauthor.com</p>
        </div>
    </ng-template>
</ngb-carousel>