<div class="container">
    <div class="header-section text-center">
        <h2>
            Lorem Ipsum is simply dummy
        </h2>
        <h3>
            Lorem Ipsum is simply dummy text of the printing and typesettin
        </h3>
    </div>
    <div class="row items-description">
        <div class="col-6 col-md-3">
            <div class="box-item-img">
                <div class="box-item-s">
                    <img src="/assets/tickets.png" alt="">
                    <h4 class="text-center">
                        Tickets
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="box-item-img">
                <div class="box-item-s camera-color">
                    <img src="/assets/camera.png" alt="">
                    <h4 class="text-center">
                        Camera
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="box-item-img">
                <div class="box-item-s beer-color">
                    <img src="/assets/beermug (Cheers!).png" alt="">
                    <h4 class="text-center">
                        Beer
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="box-item-img">
                <div class="box-item-s device-color">
                    <img src="/assets/iPad potrait & landscape 2.png" alt="">
                    <h4 class="text-center">
                        Devices
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>